.formulario {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20 px;
  margin: 3vh;
  padding: 1vh;
  border-radius: 10px;
  color: darksalmon;
  font-weight: 900;
  display: flex;
  flex-flow: row;
  perspective: 1000px;
  perspective-origin: center;
}
